figure {
    margin: 0.5rem;
}
img {
    display: block;
    max-width: 100%;
    max-height: 90%;
    margin: 0.5rem 0;
}

@media (min-width: 500px) {
    .map {
        max-width: 475px;
    }
}
